.wrapper-icons {
display: flex;
justify-content: center;
margin-top: 50px;
} 

.wrapper-icons::before{
  content: '';
  position: absolute;
  width: 1px;
  height: 24px;
  background-color: #1E1E1E;
  transform: translateX(65px);
  
}

.icon-about{
  width:95px;
  height: 95px;
  background-color: #C1DCDC;
  border-radius: 100px;
  text-align: center;
  margin-left: 125px;


}

.icon-about2 {
  margin-top: 25px;
}

.img-about {
  margin-left: 125px;
}



  

