.wrapper-subtitle {
display: flex;
  margin-top:25px;
  margin-left: 50px;
}

.wrapper-subtitle::before{
  content: '';
  width: 1px;
  height: 65px;
  background-color: #1E1E1E;
  transform: translateX(160px);
  
}

.main-subtitle {
  color:#1E1E1E;
font-family: 'Poppins';
font-size: 32px;
font-style: normal;
font-weight: 550;
line-height:1.0;
padding-right: 40px;
}

.main-subtitle.-second {
font-size: 18px;
margin: 0;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 0;
}

.subtitle-third {
font-family: 'Poppins';
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
opacity: 60%;
padding-bottom: 25px;
}

.subtitle-third.-second {
  text-align: center;
  margin-bottom: 50px;
}

.subtitle-about {
color: rgba(30, 30, 30, 0.50);
font-family: 'Poppins';
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

